{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>에브리타임</title>
  <meta charset="utf-8">
  <meta name="referrer" content="origin">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="fb:app_id" content="258676027581965">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://everytime.kr/images/og_image.png">
  <meta property="og:url" content="https://everytime.kr/370455">
  <meta property="og:site_name" content="에브리타임">
  <meta property="og:title" content="에브리타임">
  <meta property="og:description" content="전국 400개 대학을 지원하는 대학교 커뮤니티 및 시간표 서비스. 시간표 작성 및 학업 관리, 학교 생활 정보, 학교별 익명 커뮤니티 기능을 제공합니다.">
  <meta name="description" content="전국 400개 대학을 지원하는 대학교 커뮤니티 및 시간표 서비스. 시간표 작성 및 학업 관리, 학교 생활 정보, 학교별 익명 커뮤니티 기능을 제공합니다.">
  <meta name="keywords" content="에브리타임, 에타, everytime, 시간표, 수강신청, 강의평가, 학점계산기, 학식, 오늘의학식, 책방, 중고책, 대학생, 대학교, 대학, 대학생 시간표, 대학교 시간표, 대학생 커뮤니티, 대학교 커뮤니티, 시간표 앱, 시간표 어플">
  <meta name="naver-site-verification" content="7366738375e320e44bd1c743b364db13086a7b0e">
  <meta name="robots" content="noindex">
  <link type="text/css" href="{% static 'css/common.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'css/common.partial.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'css/container.article.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'css/container.community.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'css/container.modal.css' %}" rel="stylesheet">
  <link href="/favicon.ico" rel="shortcut icon">
  <!--[if lt IE 9]>
  <script src="/js/extensions.html5shiv.js"></script>
  <script src="/js/extensions.respond.min.js"></script>
  <script src="/js/extensions.excanvas.min.js"></script>
  <![endif]-->
  <!--[if lt IE 8]>
  <script src="/js/extensions.json3.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/js/extensions.jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/js/extensions.underscore-min.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/extensions.canvas-to-blob.min.js"></script>
  <script type="text/javascript" src="/js/extensions.load-image.all.min.js"></script>
  <script type="text/javascript" src="/js/board.index.js"></script>
  <script type="text/javascript" src="/js/community.side.js"></script>
  <script type="text/javascript" src="/js/message.send.js"></script>
</head>
<body>

<nav>
    <div class="wrap">
      <div id="logo">
        <a href="/"><img src="{% static 'img/everytime_logo.png' %}"></a>
        <p><span class="name multiple">에브리타임</span><span class="subname">숭실대</span></p>
      </div>
      <div id="account">
        <a href="/message" title="쪽지함" class="icon message">쪽지함</a></li>
        <a href="/my" title="내 정보" class="icon my">내 정보</a>
        <input type="hidden" id="userUserid" value="jd06280">
        <input type="hidden" id="userSchool" value="21">
        <input type="hidden" id="userCampus" value="37">
      </div>
      <ul id="menu">
        <li class="active"><a href="/">게시판</a></li>
        <li><a href="/timetable">시간표</a></li>
        <li><a href="/lecture">강의평가</a></li>
        <li><a href="/calculator">학점계산기</a></li>
        <li><a href="/friend">친구</a></li>
        <li><a href="https://bookstore.everytime.kr/">책방</a></li>
        <li><a href="https://www.campuspick.com/">캠퍼스픽</a></li>
      </ul>
    </div>
  </nav>
<div id="submenu">
      <div class="wrap">
         <div class="divider"></div>
         <div class="group">
            <ul>
            <li><a href="{% url 'freeBoard' %}" data-id="370455" class="new">자유게시판</a></li>
            <li><a href="/257667" data-id="257667" class="new">비밀게시판</a></li>
            <li><a href="{% url 'graduateBoard' %}" data-id="385967" class="new">졸업생게시판</a></li>
            <li><a href="/374637" data-id="374637" class="new">새내기게시판</a></li>
            <li><a href="/482583" data-id="482583" class="new">시사·이슈</a></li>
            <li><a href="/370476" data-id="370476" class="new">장터게시판</a></li>
            <li><a href="/258610" data-id="258610">정보게시판</a></li>
            <li><a href="/367437" data-id="367437" class="new">홍보게시판</a></li>
            </ul>
         </div>
         <div class="group">
            <ul>
            <li><a href="/418775" data-id="418775" class="new">동아리·학회</a></li>
            </ul>
         </div>
         <div class="divider"></div>
         <div class="group">
            <ul>
            <li><a href="/370506" data-id="370506" class="new">취업·진로</a></li>
            <li><a href="/408938" data-id="408938" class="new">회계 동아리 in 숭실</a></li>
            </ul>
         </div>
         <div class="divider"></div>
         <div class="group">
            <ul>
            <li><a href="/410136" data-id="410136">숭대시보</a></li>
            <li><a href="/374150" data-id="374150" class="new">인터넷방송국</a></li>
            <li><a href="/451992" data-id="451992" class="new">방송국</a></li>
            <li><a href="/431825" data-id="431825">중앙감사위원회</a></li>
            <li><a href="/483370" data-id="483370">영자신문사</a></li>
            <li><a href="/502854" data-id="502854">학생복지위원회</a></li>
            </ul>
         </div>
         <div class="divider"></div>
         <div class="group">
            <ul>
            <li><a href="/376896" data-id="376896">열정 문창</a></li>
            </ul>
         </div>
         <div class="divider"></div>
         <div class="group">
            <ul>
            <li><a href="/374072" data-id="374072" class="new">족보</a></li>
            <li><a href="/456387" data-id="456387" class="new">난힘들때코딩을해</a></li>
            <li><a href="/377445" data-id="377445" class="new">LGBTQ+</a></li>
            <li><a href="/424431" data-id="424431" class="new">짜증날때 소리지르는 곳</a></li>
            <li><a href="/382899" data-id="382899" class="new">헬스/다이어트 게시판</a></li>
            <li><a href="/388627" data-id="388627">게임 게시판</a></li>
            <li><a href="/372693" data-id="372693" class="new">덕사리를 찾아서</a></li>
            <li><a href="/376524" data-id="376524" class="new">올어바웃 아이돌</a></li>
            </ul>
         </div>
         <div class="group">
            <ul>
            <li><a href="/454735" data-id="454735" class="new">교환학생가자~~</a></li>
            <li><a href="/484452" data-id="484452" class="new">학사정보 문의</a></li>
            <li><a href="/380089" data-id="380089" class="new">네거티브 동아리</a></li>
            <li><a href="/374993" data-id="374993">망한 숭실대 상권이라도 밥은 먹자</a></li>
            <li><a href="/499379" data-id="499379" class="new">케인TV</a></li>
            <li><a href="/409246" data-id="409246">음악게시판</a></li>
            <li><a href="/511972" data-id="511972" class="new">kbo 야구 게시판 ⚾️</a></li>
               <li><a class="more">더 보기</a></li>
            </ul>
         </div>
         <div class="group hidden">
            <ul>
            <li><a href="/378826" data-id="378826">혼술회</a></li>
            <li><a href="/514044" data-id="514044">난 코딩하면 힘들어</a></li>
               <li><a href="/community/search" class="search">게시판 찾기</a></li>
            </ul>
         </div>
         <div class="divider"></div>
         <hr>
      </div>
      <input type="hidden" id="communityCampusId" value="37">   
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>